.item {
  font-size: 40px;
  display: flex;
  padding: 5px;
  justify-content: center;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.image {
  border-radius: 50%;
  max-width: 50%;
}