.header {
  display: flex;
  position: fixed;
  top: .5em;
  right: .5em;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;

  width: 100%;
  color: #fff;

  svg {
    fill: #fff;
  }
}

.link {
  padding: 4px;
  width: 24px;
  height: 24px;
}
