.footer {
  display: flex;
  position: fixed;
  bottom: 1.5em;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: #fff;
  font-size: 14px;

  svg {
    fill: #fff;
  }
}

.link {
  margin: 4px;
  width: 24px;
  height: 24px;
}
