.theme-switcher {
    overflow: hidden;
    box-sizing: border-box;
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;

    svg {
        transition: all 0.3s linear;
    }
}